<section>
	<div class="container">
		<form name="addemp" ng-submit="addEmp()" novalidate>
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" type="text" id="name" name="ename"
					placeholder="Enter name" ng-model="empname" required />
				<span class="text-danger"
					ng-show="addemp.ename.$dirty && addemp.ename.$invalid">
					<span
						ng-show="addemp.ename.$error.required">*Required</span>
				</span>
			</div>
			<div class="form-group">
				<label for="salary">Salary:</label>
				<input class="form-control" type="number" id="salary"
					name="esalary" placeholder="Enter salary"
					ng-model="empsalary" required />
				<span class="text-danger"
					ng-show="addemp.esalary.$dirty && addemp.esalary.$invalid">
					<span
						ng-show="addemp.esalary.$error.required">*Required</span>
					<span ng-show="addemp.esalary.$error.number">*Invalid
						entry</span>
				</span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary"
					ng-disabled="addemp.$invalid">
					Add
				</button>
			</div>
		</form>
	</div>
</section>